.Pokemon-List{
    text-align: center;
    margin:  1rem 0 0 0;
    font-size: 20px;
   
    
}
.card-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.btn-controls{
    display: flex;
    gap: 50px;
    justify-content: space-around;
}
.btn-controls>button{
  width: 100px;
  height: 50px;
  background-color: #DFE9F2;
  text-transform: capitalize;
  border-radius: 5px;

}